<div class="container" id="show_email" >
	<h ><%= @current_email.object %></h2> <br>
<p><%= @current_email.body %></p>



<button>	   <%= link_to "Destroy", email_path(@current_email.id), method: 'DELETE', remote: true %>
</button>

<button onclick="">
   Marquer comme non-lu
</button>

</div>