<div class="container" id="show_email" >
	<h ><%= @current_email.object %></h2> <br>
<p><%= @current_email.body %></p>
<button onclick="myFunction();">
   Supprimer
</button>
<button onclick="myFunction();">
   Marquer comme non-lu
</button>

</div>