
<button type="button" class="btn btn-primary btn-lg btn-block" ><%= button_to "RECEVOIR MAIL",  emails_path , remote: true %></button>

<table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">liste des emails </th>
      <th scope="col">Email selectionné</th>
    </tr>
  </thead>
  <tbody id="email">
		<% @emails.each do |email| %>
	<tr>
		<% @id = email.id%>
		<div >
			<td id="<%=@id%>"><%= link_to email.object, email_path(@id), remote: true %></td>
		</div>

	</tr>

  	 	<% end %>
  </tbody>



  </tbody>


