
<button type="button" class="btn btn-primary btn-lg btn-block" ><%= button_to "RECEVOIR MAIL",  emails_path , remote: true %></button>

<table class="table table-striped">

  <thead class="thead-dark">
    <tr>
      <th scope="col">liste des emails </th>
      <th scope="col">Email selectionné</th>
    </tr>
  </thead>
  <tbody id="email">
		<% @emails.each do |email| %>
	<tr>
		<td><%= email.object%></td>
	</tr>

  	 	<% end %>
  </tbody>


