<h1>Emails#index</h1>
<p>Find me in app/views/emails/index.html.erb</p>
<table class="table table-striped">

  <thead class="thead-dark">
    <tr>
      <th scope="col">liste des emails </th>
      <th scope="col">Email selectionné</th>
    </tr>
  </thead>
  <tbody>
<% @email.each do |email| %>
<tr>
	<td><%= email.object%></td>
</tr>

  	 	<% end %>
  </tbody>


